/* Global styles */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: $font-family-open-sans;
  font-size: $font-size;
  color: $text-color;
  background-color: #fff;

  #root {
    display: flex;
    flex-direction: column;
  }
}

main {
  flex: 1;
  position: relative;
}
